* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: linear-gradient(45deg, rgb(255, 255, 255), rgb(92, 44, 0));
    height: 100vh;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.calculadora {
    position: absolute;
    background-color: rgba(211, 120, 0, 0.459);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

.botao {
    width: 50px;
    height: 50px;
    margin: 3;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(80, 46, 2);
    color: aliceblue;
}

.botao:hover {
    background-color: rgb(194, 103, 0);
}

#resultado {
    background-color: white;
    width: 198px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}